<section data-ng-controller="HomeController">
	<div class="jumbotron text-center" style="background-image:url('modules/core/img/background.png')">
		<div class="row">
			<div>
				<b class="lead" style="font-size: 48px; color: #ffffff;">Pandata</b>
			     <hr class="featurette-divider" style="color: #ffffff;  margin: 30px 20px">
				<p class="lead" style="color: #ffffff; margin-bottom: 40px">
					Pandata helps you to do your own researches over social media. <br/>
					Want to know more?
				</p><br/>
				<a class="btn custom-btn" href="/#!/graphics" style="background-image:url('modules/core/img/background.png'); font-size:21px; font-weight: 200" >See an example</a>
			</div>
		</div>
	</div>
  <!-- START THE FEATURETTES -->

     <hr class="featurette-divider">

     <div class="featurette">
        <div class="col-md-6">
	        <h2 class="featurette-heading">Only 3 steps to use.</h2>
	        <p class="lead">1) You go Sign up. <br/>
	        				2) Now go to Research -> New Research, complete the requiered fields as you want and submit.<br/> 
	        				3) Relax, you're done! Now you just have to wait: you'll receive an email confirming that your new research has been started.</p>
      	</div>
      	<div class="col-md-6">
        	<img src="/modules/core/img/brand/easy.gif" style="width: 100%; height: 100%">
    	</div>
  	</div>

      <hr class="featurette-divider">

    <div class="featurette">
      	<div class="col-md-6">
    	    <img src="/modules/core/img/brand/dataviz.gif" style="width: 100%; height: 100%">
    	</div>
        <div class="col-md-6">
        	<h2 class="featurette-heading">Build your personal dashboard.</h2>
        	<p class="lead">You're free to build your own dashboard of datavisualization.<br/>
        		You can choose between a lot of charts, boards and timeline to understand what you want about your data.
        	</p>
        </div>
  	</div>

  	<hr class="featurette-divider">

	<div class="featurette">
		<div class="col-md-6">
	    	<h2 class="featurette-heading">Text analysis provided.</h2>
    		<p class="lead">All the contents Pandata tracked is analyse in order to give you a sentiment analysis.<br/>
     			You'll finally know what people think over the subject you chose.
     		</p>
		</div>
		<div class="col-md-6">
    		<img class="featurette-image pull-right" src="/modules/core/img/brand/sentiment.gif" style="width: 70%; height: 70%">
		</div>
  	</div>

    <hr class="featurette-divider" style="margin-bottom: 10px;">

      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <div style="display: inline-block; width: 100%">
        	<p style="float: left; margin-top: 30px;">&copy; 2015 Pandata, Inc. </p>
        	<img alt="ePanda" class="img-responsive" src="modules/core/img/brand/logo.gif" style="float: right; width: 95px; height: 92px"/>
		</div>
      </footer>
</section>