<section data-ng-controller="ResearchesController" data-ng-init="find()">
	<div class="well">
		<h2 class="text-center">Researches</h2>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<b class="headingB">List of your researches</b>
		</div>
	<div class="panel-body">	
		<div class="list-group">
			<a data-ng-repeat="research in researches" data-ng-href="#!/researches/{{research._id}}" class="list-group-item">
				<small class="list-group-item-text" style="float: right">
					Posted on
					<span data-ng-bind="research.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="research.user.displayName"></span>
					for a <span data-ng-bind="research.duration"></span> weeks duration
				</small>
				<h4 class="list-group-item-heading" data-ng-bind="research.title"></h4>
				<p class="list-group-item-text" data-ng-bind="research.description"></p>
				<p class="list-group-item-text" data-ng-bind="research.words"></p>
				<p class="list-group-item-text" data-ng-bind="research.size"></p>
				<p class="list-group-item-text" data-ng-bind="research.positive_emotion"></p>
				<p class="list-group-item-text" data-ng-bind="research.negative_emotion"></p>

				<!--<div data-ng-repeat="tweet in research.tweets" class="list-group-item">
					<p class="list-group-item-text" data-ng-bind="tweet.text"></p>
					<p class="list-group-item-text" data-ng-bind="tweet.emotion"></p>
				</div>-->
			</a>
		</div>
		<div class="alert alert-warning text-center" data-ng-if="researches.$resolved && !researches.length">
			No researches yet, why don't you <a href="/#!/researches/create">create one</a>?
		</div>
	</div>
</section>