<style> 
    time-line path { stroke: black; stroke-width: 2px; fill: none;}

    time-line .axis path, time-line	.axis line 
	{
  		fill: none;
  		stroke: #000;
  		shape-rendering: crispEdges;
	}
</style>

<section ng-controller="GraphicsController">
	<div class="well">
		<h2 class="text-center">Dashboard example</h2>
	</div>	 

	<!-- First row, for research description and charts selection -->
	<div class="row">
		<!-- Panel for basics info about the research -->
		<div class="col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<b class="headingB">{{model.research.title}} by {{model.research.user}}</b>
				</div>
				<div class="panel-body">
					<b class="headingD">Research description:</b> {{model.research.description}}.<br/><br/>
					<b class="headingD">Research duration:</b> {{model.research.duration}} weeks.<br/><br/>
					<b class="headingD">Research size:</b> This research has {{model.research.size}} tweets.<br/><br/>
					<b class="headingD">Words used for this research:</b> <span ng-repeat="word in model.research.words">{{word}} </span><br/><br/>
					<b class="headingD">Social medias tracked: </b> <span>Twitter</span><br/><br/>
				</div>	
			</div>
		</div>			
		<!-- Panel for charts selection -->
		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<b class="headingB">Selection of boards</b>
				</div>
				<div class="panel-body">
					<table class="table table-striped">            
						<thead>                
							<tr>                    
								<th>Graphic Name</th>                    
								<th>Show</th>                
							</tr>            
						</thead>            
						<tbody>                
			     			<tr ng-repeat="graph in model.graphs">
			                    <td>{{graph.graphName}}</td>
			                    <td><input type="checkbox" ng-model="graph.show" /></td>
			                    <td>{{graph.show}}</td> 
			               </tr>            
						</tbody>        
					</table> 
				</div>	
			</div>
		</div>

	</div>

	<div class="row">
		<!-- Pie Chart -->
		<div ng-hide="isPieChart() == true">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<b class="headingB">Motherfucking Pie Chart</b>
					</div>
					<div class="panel-body">
						<div class="row">
							<pie-chart data="model.piedata"></pie-chart>
							<p id="pielegend"></p>
						</div>
					</div>	
				</div>
			</div>
		</div>
		<!-- Bubble chart -->
		<div ng-hide="isBubbleChart() == true">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<b class="headingB">Motherfucking Bubble Chart</b>
					</div>
					<div class="panel-body">
						<bubble-chart ></bubble-chart>
					</div>	
				</div>
			</div>
		</div>
	</div>
	
	<!-- Time Line -->
	<div ng-hide="isTimeLine() == true">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<b class="headingB">Motherfucking Time Line</b>
			</div>
			<div class="panel-body">
				<time-line data="model.tweets"></time-line>
			</div>	
		</div>
	</div>

</section>